* {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
/**** NAVIGATION ****/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 2;
  overflow: hidden;
  background-color: #333;
}
nav ul li {
  float: left;
  padding: 2;
}
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #111;
}
#navigation a:link, a:visited {
    color:black
}
/**** BODY ****/
body {
    margin: 60px auto;
    width: 70%;
}
a:hover {
    text-decoration: underline;
    background-color: #cccccc;
}}
/**** FOOTER ****/
footer {
    color: #666666;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
