* {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
/*** COLORS ***/
.home{
  color: #357DE9; /* light blue */
}
.research{
  color: #3f3fde; /* medium blue */
}
.code{
  color: #391bb1; /* dark indigo */
}
.cv{
  color: #be3788; /* medium purple */
}
.about{
  color: #ff1f53; /* bright red */
}

/**** NAVIGATION ****/
nav ul {
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 2;
  overflow: hidden;
  background-color: #cccccc;
}
nav ul li {
  float: left;
  padding: 2;
}
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 1.25em 1em;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #111;
}
nav a:link, a:visited {
  color:black;
  text-decoration: none;
}
/**** BODY ****/
body {
  margin: 60px auto;
  width: 70%;
}
body a:link {
  color: black;
  text-decoration: wavy;
}
body a:visited {
  color: #666666;
}
body a:hover, a:active {
  border-radius: 0.25em 0.5em;
  background: #cccccc;
}
/**** FOOTER ****/
footer {
  border-top: 1px solid #d5d5d5;
  color: #666666;
  font-size: .8em;
}

/*.button {
   border-top: 1px solid #ffffff;
   background: #adadad;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#adadad));
   background: -webkit-linear-gradient(top, #ffffff, #adadad);
   background: -moz-linear-gradient(top, #ffffff, #adadad);
   background: -ms-linear-gradient(top, #ffffff, #adadad);
   background: -o-linear-gradient(top, #ffffff, #adadad);
   padding: 4.5px 9px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #7aabcc;
   background: #7aabcc;
   color: #000000;
   }
.button:active {
   border-top-color: #7aabcc;
   background: #7aabcc;
   }
   */
