
:root {
  --p1: #7fbdff; /* light blue */
  --p2: #7f90ff; /* light indigo */
  --p3: #d47fff; /* light purple */
  --p4: #ff7fa5; /* light red */
}
* {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

/**** NAVIGATION ****/
nav a {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 0.75em;
  font-size: 1em;
  color: black;
  border: solid 0.2em white;
}
nav > .active1, .active2, .active3, .active4 {
  border: solid 0.2em black;
}
nav > .active1 { background-color: var(--p1); }
nav > .active2 { background-color: var(--p2); }
nav > .active3 { background-color: var(--p3); }
nav > .active4 { background-color: var(--p4); }

nav > .page1:hover { background-color: var(--p1); }
nav > .page2:hover { background-color: var(--p2); }
nav > .page3:hover { background-color: var(--p3); }
nav > .page4:hover { background-color: var(--p4); }

/**** BODY ****/
body {
  margin: 60px auto;
  width: 70%;
}
body a:link {
  color: black;
  text-decoration: wavy;
}
body a:visited {
  color: #666666;
}
body a:hover, a:active {
  border-radius: 0.25em 0.5em;
  background: #cccccc;
}
/**** FOOTER ****/
footer {
  border-top: 1px solid #d5d5d5;
  color: #666666;
  font-size: .8em;
}

/*.button {
   border-top: 1px solid #ffffff;
   background: #adadad;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#adadad));
   background: -webkit-linear-gradient(top, #ffffff, #adadad);
   background: -moz-linear-gradient(top, #ffffff, #adadad);
   background: -ms-linear-gradient(top, #ffffff, #adadad);
   background: -o-linear-gradient(top, #ffffff, #adadad);
   padding: 4.5px 9px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #7aabcc;
   background: #7aabcc;
   color: #000000;
   }
.button:active {
   border-top-color: #7aabcc;
   background: #7aabcc;
   }
   */
