<!doctype html>
<html>
    <head>
        <!-- <title>{{ page.title }}</title> -->
        <title>Beth Baribault, PhD</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    
    <header>
        <h1><a href="/">Beth Baribault, PhD<a></h1>
	    <nav>
	        <ul>
	        <li><a href="/research" style="color: #357DE9">research</a></li>
	        <li><a href="/code" style="color: #357DE9">code</a></li>
	        <li><a href="/cv" style="color: #357DE9">CV</a></li>
	        <li><a href="/about" style="color: #357DE9">about</a></li>
	        </ul>
        </nav>
    </header>
    
    <body>
        <div class="container">
        {{ content }}
		</div><!-- /.container -->
		
		<footer>
		    <p>this website is currently under construction, but will be updated fully soon. see you then!</p>
    		<p>&copy; b. baribault 2020 &ndash; <i>present</i></p>
		</footer>
	</body>
</html>
