<!doctype html>
<html lang="en">
  <head>
    <title>Beth Baribault, PhD</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="https://kit.fontawesome.com/d9069b9cd5.js" crossorigin="anonymous"></script>
  </head>
    
  <header>
    <h1><a href="/">Beth Baribault, PhD<a></h1>
  </header>
  
  <body>    
    {{ content }}
    	
    <footer>
      <p>this website is currently under construction, but will be updated fully soon. see you then!</p>
      <p>&copy; b. baribault 2021 &ndash; <i>present</i></p>
    </footer>
  </body>
</html>
